{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="page-header"><h4>{{ title }}</h4></div>
<div class="card"><div class="card-body">
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="row g-3">
        <div class="col-md-6">{{ form.female_animal_id.label(class="form-label") }}{{ form.female_animal_id(class="form-select") }}</div>
        <div class="col-md-6">{{ form.male_animal_id.label(class="form-label") }}{{ form.male_animal_id(class="form-select") }}</div>
        <div class="col-md-4">{{ form.heat_date.label(class="form-label") }}{{ form.heat_date(class="form-control") }}</div>
        <div class="col-md-4">{{ form.mating_date.label(class="form-label") }}{{ form.mating_date(class="form-control") }}</div>
        <div class="col-md-4">{{ form.mating_method.label(class="form-label") }}{{ form.mating_method(class="form-select") }}</div>
        <div class="col-md-4">{{ form.expected_delivery_date.label(class="form-label") }}{{ form.expected_delivery_date(class="form-control") }}</div>
        <div class="col-md-4">{{ form.pregnancy_status.label(class="form-label") }}{{ form.pregnancy_status(class="form-select") }}</div>
        <div class="col-12">{{ form.remarks.label(class="form-label") }}{{ form.remarks(class="form-control", rows=2) }}</div>
    </div>
    <div class="mt-3">{{ form.submit(class="btn btn-farm") }}
    <a href="{{ url_for('breeding.list_breeding') }}" class="btn btn-outline-secondary">Cancel</a></div>
</form>
</div></div>
{% endblock %}
